body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    font: 23px Calibri;
    color: #505050;
    width: 100%; /*text-align: center;*/
}

a:link {
    text-decoration: underline;
    font-weight: bold;
    color: #0000FF;
}

a:visited {
    text-decoration: underline;
    font-weight: bold;
    color: #0000FF
}

a:active, a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #0099FF;
}

a.active:link {
    text-decoration: none;
    color: #CC33CC
}

a.active:visited {
    text-decoration: none;
    color: #CC33CC
}

a img {
    border: 0;
}

#container {
    text-align: left; /*position: relative;*/
    background-color: #fff;
    padding: 0;
    z-index: 10;
    position: relative;
    margin: 2em auto; /*width: 1200px;*/
    width: 750px;

}
h1 {                    
    color:#777;
    text-align:center;
    margin-top:0;
    background:url(img/excel.gif) no-repeat 0 0;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
}
#content {
    padding:50px;
    border:solid 10px #ccc;
}

input, select {
font: 20px Calibri;
}

select {
    margin-bottom:2em;
}

.message {
    color: #fff;
    background-color:lawngreen;
    text-align:center;
}

.dubl {
    color: #fff;
    background-color: crimson;
    text-align:center;
}

.saved {
    font-size:0.7em;
}

.uploader form {
    padding-left:30px;
}
.uploader ul {
    padding-left:30px;
}
.uploader li {
    background:url(img/done.gif) no-repeat 0 0;
    padding-left:25px;
    padding-bottom:2px;
    padding-top:2px;
    list-style:none;
    margin-left:0;

}

.uploader li.error {
    background:url(img/err.gif) no-repeat 0 0;
    padding-left:25px;
    padding-bottom:2px;
    padding-top:2px;
    list-style:none;
    margin-left:0;
    color:red;

}

/*Help*/

.help {
    padding-top:2em;
    font-size:0.7em; 
    padding-left: 30px;
    /*text-align:center;*/
    color:#999;
}
